@font-face {
  font-family: 'Arial';
  src:url('./assets/fonts/Arial.ttf.woff') format('woff'),
      url('./assets/fonts/Arial.ttf.svg#Arial') format('svg'),
      url('./assets/fonts/Arial.ttf.eot'),
      url('./assets/fonts/Arial.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto-Sans-Georgian-Regular';
    src:url('./assets/fonts/georgia/Noto-Sans-Georgian-Regular.ttf.woff') format('woff'),
        url('./assets/fonts/georgia/Noto-Sans-Georgian-Regular.ttf.svg#Noto-Sans-Georgian-Regular') format('svg'),
        url('./assets/fonts/georgia/Noto-Sans-Georgian-Regular.ttf.eot'),
        url('./assets/fonts/georgia/Noto-Sans-Georgian-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

body {
  margin: 0;
  font-family: 'Arial';
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
